<div class="form-horizontal settings">
  {{send-email-preview}}
  {{sendout-time selectedDay=model.emailSetting.day selectedHour=model.emailSetting.hour selectedMin=model.emailSetting.min}}
  {{select-categories categories=model.categories}}
</div>
